# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Ignore files used by vscode and goland
.vscode
.idea

# Ignore temporary files
tmp/
__pycache__
.pytest_cache
*.plantuml
